

//定义颜色变量
$white=white
$blue=#00b4d4
$lightblack=#959595
$red=red

//多行文本溢出
/*.textOverFlow(@num){
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: @num;
  overflow: hidden;
}*/


